body{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin:0;


}


header{

    background-color: black;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.logo{

    color:gold;
    display: flex;
    align-items: center;
    
}

.logo img{

height: 90px;
width: 90px;
border-radius: 50%;
margin-right: 10px;
margin-left: 10px;


}

nav a{

font-weight: 100;
padding-right: 10px;
text-decoration: none;
color:white;

}

nav a:hover{

    color:goldenrod;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }


}

section{
font-style:initial;
margin-left: 10px;
color:gray;
font-size: 40px;
      }

article{
    margin-left: 10px;
       }

.box .img {
margin-top: 10px;
margin-bottom: 10px;
width: 1240px;
border-color: gray;
border-radius: 1%;
border-style:solid;
}

footer{
        margin:none;
        text-align: center;
        padding: 3px;
        background-color: black;
      }
    
.box1 p{
        margin-left: 10px;
        text-align: center;
        color:white;
      }
      
.box2 h2 {

color:white;

}

.box2 .red-social a{

    display:inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 30px;
    color: blanchedalmond;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: blue;
    text-align: center;
    transition: all 300ms ease;
    
}

.box2 .red-social a:hover{

    color:yellow;
    }

.derechos{

    color: gold;
}